html { 
	height: 101%; 
}

body {
	height: 100%;
	margin: 0;
	text-align: center;
	width: 100%;
}


h2 {
	font-size: 56px;
}

h1 {
	font-size: 65px;
}

.iniciocontainer {
	position: relative;
}

.inicioimagen {
	width: 100%;
	height: auto;
}

.iniciotexto {
	position: absolute;
  left: 0;
  top: 20%;
  width: 100%;
  text-align: center;
  color: #ffffff;
}


.containall {
	padding: 50px;
	margin: 15px;
}

.imagenproductos {
	background-image: url('img/beeorangebackcrop.jpg');
	background-size: cover;
	background-repeat: no-repeat;
}

.imagennosotros {
	background: 
	  linear-gradient(
      to bottom,
      rgba(0, 0, 0, 0.5),
      rgba(0, 0, 0, 0.2)
    ),
	url("img/honeycomb.jpg");
	background-size: cover;
	color: #ffffff;
	padding: 200px;
	margin: 10px;
}

.nosotrosbody {

	padding: 50px;
}

.contactobody {
	color: #BA283B;
	padding: 30px;
}

.text-rojo-apicola {
	color: #BA283B;
	font-weight: bold;
}

p {
	font-size: 2rem;
}

